services:
  rabbitmq:
      image: rabbitmq:4.2.1-management-alpine
      hostname: rabbitmq
      container_name: rabbitmq
      ports:
        - "5672:5672"
        - "15672:15672"
      environment:
        RABBITMQ_DEFAULT_USER: ${RMQ_USER}
        RABBITMQ_DEFAULT_PASS: ${RMQ_PASS}
      volumes:
        - rabbitmq-data:/var/lib/rabbitmq

  api:
    build: ./api-gateway
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq
      - pg
    environment:
      DB__USER: ${PG_USER}
      DB__PASSWORD: ${PG_PASSWORD}
      DB__NAME: ${PG_NAME}
      DB__HOST: pg
      DB__PORT: 5432
      RMQ__PORT: 5672
      RMQ__HOST: rabbitmq
      RMQ__USER: ${RMQ_USER}
      RMQ__PASSWORD: ${RMQ_PASSWORD}
      RMQ__EXCHANGE: ${RMQ_EXCHANGE}
      RMQ__ROUTING_KEY: ${RMQ_ROUTING_KEY}
      REDIS__HOST: redis
      REDIS__PORT: 6379

  pdf-worker:
    build: ./pdf-worker
  pg:
#    platform: linux/amd64
    image: postgres:18
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/18/docker
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 5s
      timeout: 3s
      retries: 3

  redis:
    image: redis:8.4
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  rabbitmq-data:
  pg_data:
  redis_data: